{%extends 'main.html'%}

{%block content%}
	{% csrf_token %}
	<nav>
		<a href="/painel/"> Painel de Login </a>
	<a href="/create/"> Cadastro do Aluno </a>
	</nav>

	<form name="form-users" id="formUsers" method="post" action="/store/">
		<div class="col-6 mt-4 m-auto">
		     {% if msg %}
		        <div class="alert {{class}}">
		            {{msg}}
		        </div>
		     {% endif %}


			<h4>Inserir novo usuário</h4>
			<input class="form-control mt-4" type="text" name="user" id="user" placeholder="Nome:">
			<input class="form-control mt-4" type="text" name="name" id="name" placeholder="Nome do usuário:">
			<input class="form-control mt-4" type="password" name="password" id="password" placeholder="Senha:">
			<input class="form-control mt-4" type="password" name="password-conf" id="password-conf" placeholder="Repita a senha:">
			<input class="form-control mt-4" type="email" name="email" id="email" placeholder="Email:">
			<input class="btn btn-primary mt-4" type="submit" value="Cadastrar">

		</div>

	</form>
{%endblock%}